*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

#companyview{
  background-color: #6D7074;
  height: 100vh;
  position: fixed;
  width: 100vw;
}

h1, h2, h3, h4{
  font-family: "futura";
  color: #FFFFFF;
  font-weight: 100;
}

h2{
  letter-spacing: 2px;
}

h3, h4{
  letter-spacing: 1.5px;
}

p{
  font-family: "helvetica neue";
  font-weight: 200;
}

ul{
  list-style: none;
}

h1{
  vertical-align: middle;
  line-height: 70px;
  float: left;
  margin-left: 50px;
}

a{
  text-decoration: none;
  color: inherit;
}

.ct-line, .ct-point{
  stroke: #FFFFFF !important;
}

.ct-point{
  stroke-width: 8px !important;
}

.ct-area{
  fill: #FFFFFF !important;
}

.ct-chart-line .ct-label{
  fill: #FF6262 !important;
  opacity: 0;
  font-family: "helvetica neue";
  font-size: 90%;
}

.ct-chart-line .ct-point:hover + .ct-label{
  opacity: 1;
}

.ct-chart-line .ct-point:hover{
  cursor: pointer;
  opacity: 0;
}

#header h4{
  color: #FFFFFF;
  vertical-align: middle;
  line-height: 70px;
  margin-right: 50px;
  margin-left: auto;
  text-transform: uppercase;
}

#header h1{
  font-weight: bold;
}

#header #logout a{
  display: block;
  height: 70px;
}

#header{
  height: 70px;
  width: 100%;
  max-width: 100%;
  background-color: #FF6262;
  display: flex;
  align-items: center;
}

#logout:hover{
  cursor: pointer;
  opacity: .5;

}

#companybar{
  background-color: #535558;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

#profilepic{
  width: 60px;
  height: 60px;
  border: 1px solid #535558;
  border-radius: 100%;
  line-height: 80px;
  vertical-align: middle;
  margin-left: 50px;
  background-color: #535558;
  text-align: center;
}

.branderyBar #profilepic{
  margin-right: 50px;
  margin-left: 0px;
}

.branderyBar #companyname{
  margin-right: 15px;
  margin-left: auto;
}

#companybar a:hover .exit, #companybar a:hover h3{
  cursor: pointer;
  opacity: .5;
}

#companybar h3{
  text-transform: uppercase;
  display: inline;
  vertical-align: middle;
  line-height: 80px;
  margin-left: 15px;
  font-size: 100%;
}

#companybar #changepswd{
  margin-right: 50px;
  margin-left: auto;
}

#changepswd:hover{
  cursor: pointer;
  opacity: .5;
}

#profilepic img{
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}

#companyname{
  text-transform: uppercase;
  margin-left: 25px;
  font-size: 85%;
}

#dashboard{
  width: 100%;
  min-height: 75vh;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.dashboardheader{
  height: 50px;
  background-color: #494B4E;
  display: flex;
  align-items: center;
}

.dashboardheader h4{
  line-height: 50px;
  vertical-align: middle;
  margin-left: 25px;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-flex;
}

.dashboardheader #description{
  display: inline-flex;
  margin-right: 25px;
  margin-left: auto;
  color: #FFFFFF;
  text-decoration: underline;
}

#description:hover{
  font-style: italic;
  cursor: pointer;
}

#metrics{
  background-color: #535558;
  height: 70vh;
  width: 30%;
  margin-bottom: 20px;
}

#metrics p{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 50px;
  color: #77797C;
  text-align: left;
  width: 75%;
  font-weight: 300;
}

#metricstable{
  margin: auto;
  width: 85%;
}

#metricstablediv{
  height: 65%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 40px;
  padding-bottom: 40px;
}

#metricstable , td{
  border: 3px solid #6D7074;
  border-collapse: collapse;
}

#metricstable td{
  width: 50%;
  position: relative;
  margin: 0px;
  text-align: center;
  vertical-align: bottom;
  font-family: "helvetica neue";
  color: #FFFFFF;
  font-weight: 500;
  font-size: 80%;
  padding-bottom: 50%;
  text-transform: capitalize;
}


#metricstable td:hover{
  cursor: pointer;
  background: rgba(255, 98, 98, 0.5);
}

#metricstable td .metricTableContent{
  box-sizing: content-box;
  position:absolute;
  height:80%; /* = 100% - 2*10% padding */
  width:90%; /* = 100% - 2*5% padding */
  padding: 10% 5%;
}

#metricstable td img{
  max-height: 40%;
  display: block;
  margin: 0px auto;
  margin-top: 20%;
  position: relative;
  margin-bottom: 10%;
}


#inputlist, #metricsdisplay{
  padding-left: 25px;
  padding-right: 25px;
  height: 70vh;
  width: 25%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-right: 3px solid #535558;
}

#inputlist li, #metricsdisplay li{
  background-color: #535558;
  height: auto;
  min-height: 230px;
  margin-bottom: 20px;
}

#inputlist li:last-child, #metricsdisplay li:last-child{
  margin-bottom: 0px;
}

#inputlist p{
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 200;
  letter-spacing: 1px;
}

#inputlist button{
  -webkit-appearance: none;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  border: none;
  background-color: #FF6262;
  color: #FFFFFF;
  font-family: "helvetica neue" !important;
  font-size: 80%;
  text-transform: uppercase;
}

#inputlist button:hover{
  cursor: pointer;
  opacity: .7;
}

#inputlist #responsebuttons{
  margin: 0px auto;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

#inputlist .confirmdisplay p{
  font-size: 95%;
  font-weight: 300;
  margin-right: 20px;
  text-align: center;
  margin-top: 0px;
}

#inputlist .cancel{
  float: left;
}

#inputlist .return button{
  margin-left: 0px;
  margin-right: 0px;
}

#inputlist .confirm{
  float: right;
}

p#updated{
  color: #77797C;
  margin-top: 0px;
  font-weight: 300;
  font-size: 90%;
}

#inputlist .inputlistNoData, #metricsdisplay .inputlistNoData{
  font-family: "helvetica neue";
  font-weight: 500;
  color: #494B4E;
  margin-top: 0px;
  text-align: center;
  padding-top: 30vh;
}

#inputlist .inputlistNoData{
  text-align: left;
}

.date{
  font-weight: 500;
}

.inputform{
  width: 80%;
  margin-left: 20px;
  text-align: center;
}

.inputform input[type="number"]{
  width: 100%;
  height: 40px;
  background-color: #6D7074;
  border: 0px;
  margin-bottom: 10px;
  padding: 10px;
  color: #FFFFFF;
  font-family: "Helvetica Neue" !important;
  font-size: 100%;
  font-weight: lighter;
  letter-spacing: 1px;
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputform input[type="submit"]{
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #FF6262;
  color: #FFFFFF;
  font-family: "helvetica neue" !important;
  font-size: 80%;
}

.inputform input[type="submit"]:hover{
  cursor: pointer;
  opacity: .7;
}

input:focus{
  outline: none;
  opacity: .5;
}

::-webkit-input-placeholder{
  color: #FFFFFF;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  letter-spacing: 1px;
}

#metricsdisplay{
  width: 45%;
  border-right: 0px;
  padding-right: 0px;
}

.displaycontent{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  text-align: center;
}

.nodisplaycontent{
  margin: 0px auto;
  margin-top: 50px;
  font-family: "helvetica neue";
  color: #77797C;
  font-weight: 300;
  font-size: 100%;
}

.displaycontentheader, .displaycontentchangelabel{
  font-family: "helvetica neue";
  color: #77797C;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}

.displaycontentheader{
    margin-top: 20px;
}

.displaycontentchangelabel{
  font-size: 70%;
}

.displaycontentnumber{
  font-family: "helvetica neue";
  color: #FFFFFF;
  font-weight: bold;
  font-size: 150%;
  padding-top: 5px;
}

.displaycontentchange{
  font-size: 100%;
  font-weight: 400;
  color: #62FFB7;
  font-family: "helvetica neue";
  padding-bottom: 10px;
}

.displaycontentchange img{
  height: 10px;
  padding-right: 3px;
  width: auto;
}

.weekly{
  margin-right: 20px;
}

.total{
  margin-left: 10px;
}

.graph{
  margin-top: 20px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

p.example-enter.example-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

p.example-leave.example-leave-active{
  opacity: 0.01;
  transition: opacity 0ms ease-in;
}

.pages-appear, .password-appear {
  opacity: 0.01;
}

.pages-appear.pages-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.password-appear.password-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
#password{
  position: absolute;
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  text-align: center;
}

#password img{
  height: 20px;
  width: 25%;
  padding-right: 20%;
  margin-top: 50px;
}

#password img:hover{
  opacity: .5;
  cursor: pointer;
}

#password p{
  color: white;
}
